@import './fonts.scss';
@import './variables.scss';
@import './normalize.scss';
@import './media.scss';

:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body{
    height: 100%;
}

#root{
    width: 100vw;
    height: 100%;
}