// Primary

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Accent

$blue: hsl(248, 32%, 49%);

// Neutral

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

$black-for-shadow: rgba(21, 1, 1, 0.21);

@mixin box-shadow {
    box-shadow: 0 8px 2px 0px $black-for-shadow;
}